body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    min-height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 2fr);
    grid-template-rows: 1fr repeat(9, 2fr);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    width: 100%;
}

#container>div {
    border: 0.5px solid black;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}




.day {
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    flex-grow: 0;
}

.hora {
    text-align: center;
    font-weight: bold;
    background-color: #FFFFFF;
    display: flex;
    flex-grow: 0;

}



.SEGUR_INFORM {
    background-color: #DBE5F1;
}

.APLIC_WEB {
    background-color: #FFFF00;
}

.SERVIZOS_REDE {
    background-color: #C2D69B;
}

.S_O_R {
    background-color: #FDE9D9;
}

.EIE {
    background-color: #00B0F0;
}

.LEPII {
    background-color: #FFFFFF;
}

.gris {
    color: #818080;
}

.gris1 {
    color: #80808D;
    border-color: #80808D;
    border: 1px solid black;

}